.frm_error-txt {
	color: theme-color("ok-error");
}

.text--red1 {
	color: theme-color('primary1');
}


.txt-r02 {
	color: color("r02");
}


.txt-gray1 {
	color: color("GRAY1");
}
.txt-gray4 {
	color: color("GRAY4");
}



.txt-b01 {
	color: color("BLUE");
}