/*------------------------------------------------------------------------*\
		>>	pic
\*------------------------------------------------------------------------*/
.pic {
	overflow: hidden;
	width: 100%;
	// display: flex;
	img {
		// flex: 1;
		max-width: 100%;
		height: auto;
	}
}