.pgdropdown {
	position: relative;
	cursor: pointer;
	&-ctrl {
		display: flex;
		align-items: center;

		.ctrl-txt {

		}
	}
	&-menu {
		display: none;
		@include absolute(100%, $L:0);
		z-index: 50;

		&.pg-selects-list {
			max-height: none;
		}
	}

	&-s1 {
		width: 200px;
		border: 1px solid #BDBDBD;
		border-radius: 30px;
		&:after {
			@include psudoClass;
			@include absolute(50%, 10px);
			margin-top: (5 * 1.2) / 2 * -1px;
			@include triangle(bottom, #2B2A35, 5px);
		}


		&.js-active {
			border-color: color("BLUE");

			&:after {
				@include psudoClass;
				@include absolute(50%, 10px);
				margin-top: -1px;
				border: none;
				@include wh(10, 2);
				background-color: color("BLUE");
			}
		}


		.pgdropdown-ctrl {

		}

		.pgdropdown-menu {
			top: 50px;
		}

		.menu-item {
			padding: 15px;
			.small {
				@include remCalc(font-size, 14);
				color: color("GRAY1");
			}

			&.js-active {
				background-color: #F8F8F8;
			}
		}
	}
}