.personalInfo_frm {
	.form-group {
		margin-bottom: 30px;
	}
	.pgfrm-select {
		position: relative;
		width: 100%;
		height: 50px;
		padding: 0 15px;
		border: 1px solid #e0e0e0;

		&:after {
			@include psudoClass;
			@include absolute(0, 1rem, 0);
			z-index: 10;
			margin: auto;
			@include triangle(bottom, color("BLACK"), 6px);
		}

		.ms-choice {
			position: relative;
			z-index: 11;
		}
	}
	&-status {
		position: relative;

		.is_public {
			@include absolute(-6px, 0);
			height: auto;
		}
	}

	&-expert {

	}

	&-selfIntro {
		.pgfrm-textarea {
			@include wh(100%, 150px);
			padding: 15px;
			border: 1px solid #F2F2F2;
			background-color: #f8f8f8;
			overflow-y: scroll;
			resize: none;

			box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.15);
		}
	}


	&-status-work {
		display: none;
		&.js-show {
			display: block;
		}
	}
	&-status-school {
		display: none;
		&.js-show {
			display: block;
		}
	}

	&-btns {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
	}
}