@charset "UTF-8";

/*! *****************************************
/*    css
/*    V 2020.0615.1
/*        by AuOzzy
/******************************************/

/*
* TOC
*
* bootstrap-material-design
* reset
* BS Grid
* BS display
* BS flex
* waves
* CSS START
* global
* hover
* components
* forms
* layout
* custom
*/



@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

// /******************************************/
// /* > bootstrap-material-design
// /******************************************/
@import "bootstrap-material-design/colors";
// @import "bootstrap-material-design/mixins";
// @import "bootstrap-material-design/variables";

/******************************************/
/* > reset
/******************************************/
@import "bootstrap/reboot";

/******************************************/
/* > BS Grid
/******************************************/
@import "bootstrap/grid";

/******************************************/
/* > BS display
/******************************************/
@import "bootstrap/utilities/display";

/******************************************/
/* > BS flex
/******************************************/
@import "bootstrap/utilities/flex";

// /******************************************/
// /* > waves
// /******************************************/
// @import "_waves";


/* > CSS START */
/* ================================================================================ */
/* ..######...######...######.........######..########....###....########..######## */
/* .##....##.##....##.##....##.......##....##....##......##.##...##.....##....##... */
/* .##.......##.......##.............##..........##.....##...##..##.....##....##... */
/* .##........######...######.........######.....##....##.....##.########.....##... */
/* .##.............##.......##.............##....##....#########.##...##......##... */
/* .##....##.##....##.##....##.......##....##....##....##.....##.##....##.....##... */
/* ..######...######...######.........######.....##....##.....##.##.....##....##... */
/* ================================================================================ */
@import "_sass-image";


//******************************************
//*		custom variables
//******************************************
@import "_custom_variable";



@import "function/**/*.scss";
@import "_mixin";

/*========================================================================*\
    > global
\*========================================================================*/

@import "bootstrap/utilities/spacing";
@import "bootstrap/utilities/text";
@import "bootstrap/utilities/float";
@import "_global";
@import "common/_clearfix";
@import "common/_pic";
@import "common/_shadow";
@import "common/_font";
// @import "common/_slick";

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	@include media-breakpoint-down(xs){

	};
}


/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	hover
\*========================================================================*/
@import "ianlunn_hover/options";
@import "ianlunn_hover/mixins";
@import "ianlunn_hover/hacks";

@import "ianlunn_hover/effects/shadow-and-glow-transitions/glow";
@import "ianlunn_hover/effects/2d-transitions/pop";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	components
\*========================================================================*/
@import "components/_au_radiocheckbox";
@import "components/_select_styled";
// @use "components/_select_styled" with ("");
// @import "components/_aubtn";
@import "components/_multiple_select";
@import "components/_icon";
@import "../view/sprite";

@import "components/_m_menu";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	forms
\*========================================================================*/
@import "bootstrap/forms";
@import "bootstrap/input-group";
// @import "components/_iwalk_frm";
// @import "components/_frm";
// @import "components/_angel-selects";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	layout
\*========================================================================*/
@import "_layout";
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
    > custom
\*========================================================================*/
// @import "_sass-image";

@import "custom/**/*.scss";
// @import "custom/_header.scss";


@keyframes hvr-pop {
	50% {
		transform: scale(1.2);
		color: color("BLUE");
	}
}