.ms-parent {
	position: relative;
	// @include padding(x, 0.6rem);
	// padding-top: 36px;
	// height: 36px;

	&.form-control {
		padding: 0;
	}
}

.ms-choice {
	// position: absolute;
	// top: 0;
	// z-index: 2;
	// @include absolute(0, $L:0);
	display: flex;
	background-color: transparent;
	border: none;
	padding: 0;
	width: 100%;
	height: 50px;
	// @include wh(100%, 36);
	// padding: $input-padding-y $input-padding-x;
	// margin-left: -0.6rem;
	// margin-right: -0.6rem;
	// border-radius: 5px;
	// box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	// color: #595757;
	cursor: pointer;
	

	&:focus {
		outline: none;
	}

	> span {
		@include ellipsis;
	}
}

.ms-drop {
	display: none;
	@include absolute(49px, $L:0);
	z-index: 20;
	width: 100%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	// box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
	// border-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: $grey-lighten-5;
	background-color: #fff;

	ul {
		list-style: none;
		padding-left: 0;
		overflow-y: auto;
		margin-top: 0rem;
		margin-bottom: 0rem;
		// box-shadow: $z-depth-1;
		// border-radius: 5px;

	}

	li {
		position: relative;
		background-color: transparent;
		border-top: 1px solid rgba(#E0E0E0, 0);
		border-bottom: 1px solid rgba(#E0E0E0, 0);
		border-left: 1px solid rgba(#E0E0E0, 1);
		border-right: 1px solid rgba(#E0E0E0, 1);
		transition: $transition-base;
		margin-top: -1px;

		&.multiple {
			.choice_mark {
				@include wh(20);
				border: 1px solid color("GRAY1");
				margin: auto;

				@include absolute(0, 15px, 0);


				&:before {
					@include psudoClass;
					@include absolute(0, 0, 0, 0);
					margin: auto;
					@include wh(60%, 40%);
					border-bottom: 2px solid #fff;
					border-left: 2px solid #fff;
					transform: rotate(-45deg) translate(10% , -10%) scale(0);

					opacity: 0;

					transition: all 0.3s $easing3;
				}
			}

			&.selected {
				// display: none;

				.choice_mark {
					border: 1px solid color("BLUE");
					background-color: color("BLUE");

					&:before {
						transform: rotate(-45deg) translate(10% , -10%) scale(1);
						opacity: 1;
					}
				}
			}
		}


		&:not(:first-of-type) {
			// border-top: 1px solid $grey-lighten-2;
		}
		&.selected, &:hover {
			border-top: 1px solid rgba(#E0E0E0, 1);
			border-bottom: 1px solid rgba(#E0E0E0, 1);
			background-color: #F8F8F8;
		}




	}



	label {
		display: block;
		margin-bottom: 0;
		padding: 0.5rem 1rem;
		cursor: pointer;

		input {
			display: none;
		}
	}

}

.ms-search {
	@include wh;

	@include padding(x, 1rem);
	padding-top: 0.5em;
	padding-bottom: 0.5rem;

	input {
		@include wh;
		box-shadow: $z-depth-1;
		border: none;
		padding: $input-padding-y $input-padding-x;
		border-radius: 5px;
	}
}




.ms-no-results {
	padding: 1em;
}


.ms_select {
	.c-name {
		position: relative;

		&:before {
			@include psudoClass;
			@include wh(25);
			border-radius: 5px;
			border: 1px solid #ccc;

			display: inline-block;
			vertical-align: -0.8ex;
			margin-right: 0.6rem;
		}

		&:after {
			@include psudoClass;
			@include absolute(5px, $L:4px);
			@include wh(17px, 10px);
			border-bottom: 3px solid theme-color('primary');
			border-left: 3px solid theme-color('primary');
			transform: rotate(-45deg) scale(0);

			transition: all 0.3s ease-in-out;
		}
	}

	.selected {
		.c-name {
			&:before {
				background-color: #fff;
			}
			&:after {
				transform: rotate(-45deg) scale(1);
			}

		}
	}
}