header.page_header
	.container-fluid
		a(href="./").logo_block
			.logo
				img(src="public/images/LOGO.svg", alt="Pattern Go 版騰信息科技有限公司")
			.txt
				img(src="public/images/Pattern_Go.svg", alt="Pattern Go 版騰信息科技有限公司")
		nav.user_menu
			a(href="javascript:;").pgbtn.pgbtn-s1.pgbtn-free_try 免费试用
			ul.cf.lis-n
				li.user_menu-item
					a#openLogin.inner(href="javascript: void 0;", data-popup="login") 登入
				li.user_menu-item
					a#openSignup.inner(href="javascript:;", data-popup="signup") 注册

// header.page_header  END  !! -------------------------------------------------------------------------
