extends _layout.pug
block vars
	//- - var login = 1;
	- var page_class = "mbr_page mbr_plan";
	- var page_title = "方案设定";
	- var mbr_header = 1;
	- var mbr_header_title = "方案设定";


block pluginStyle
	//- link(rel="stylesheet", href="dist/plugin/swiper/swiper.min.css")

block popup

block content
	.page_main(class=page_class)

		main.main_content
			.content_wrap.container
				article.mbr_plan-block
					hgroup.text-center
						h1.pgpopup_plan-title 选择方案
						h2.pgpopup_plan-subtitle 找到最适合你的方案
					.pgpopup_plan-list
						section.pgpopup_plan-item.plan1
							.project_block
								.project_block-hd
									h3.title 方案一
								.project_block-rmb
									.num 12,000
									.txt RMB
								.project_block-bd.text-center
									p.txt 平均可打版
									p.txt
										span.strong 200
										| 件
									p.txt 一个版型最低只要 40 RMB
									// 使用中，class 加 "using"；attribute 加 "disabled"
									a.pgbtn.pgbtn-s2.pgbtn-status.using(href="", disabled) 使用中
							p.plan-expiry_date 方案到期日：2021/01/01
						section.pgpopup_plan-item.plan2
							.project_block
								.project_block-hd
									h3.title 方案二
								.project_block-rmb
									.num 20,000
									.txt RMB
								.project_block-bd.text-center
									p.txt 平均可打版
									p.txt
										span.strong 400
										| 件
									p.txt 一个版型最低只要 33 RMB
									a.pgbtn.pgbtn-s2.pgbtn-status(href="mbr_plan_upgrade.html") 升级
							// p.plan-expiry_date 方案到期日：2021/01/01
						section.pgpopup_plan-item.plan3
							.project_block
								.project_block-hd
									h3.title 方案三
								.project_block-rmb
									.num 30,000
									.txt RMB
								.project_block-bd.text-center
									p.txt 平均可打版
									p.txt
										span.strong 800
										| 件
									p.txt
										| 一个版型最低只要
										span.highlight_block 25 RMB
									a.pgbtn.pgbtn-s2.pgbtn-status(href="mbr_plan_upgrade.html") 升级
							// p.plan-expiry_date 方案到期日：2021/01/01



	.mbr_page_footer
		p.copyright Copyright © 2020 Pattern Go All Rights Reserved | Designed by LOHAS IT
		.lang
			| 语言
			.pgselect-wrap.select_block
				select.pgselect.pgselect-s2
					option(value="0") 简体中文
					option(value="1") 繁體中文
					option(value="2") English


		// main.main_content  END  !!
		// =========================================================================

block page_script
	script(src="public/plugins/multiple-select.js")
	script(src="public/js/page/mbr_plan.js")
